# Chặn môi trường ảo (Thủ phạm 5.9GB)
venv/
.venv/
env/

# Chặn Data & Storage (Không cần đưa vào image)
minio_data/
qdrant_storage/
storage/
data/

# Chặn file ẩn (Nghi phạm 773MB)
.git/
.cache/
.huggingface/
__pycache__/

# Chặn file cấu hình & IDE
.vscode/
.idea/
docker-compose.yml
Dockerfile.*