fastapi
uvicorn
streamlit
requests
groq
cohere
google-genai
qdrant-client
sentence-transformers
fastembed
boto3
numpy
scikit-learn
langsmith
pydantic-settings
python-dotenv
markdown
redis
slowapi