fastapi[standard]
uvicorn[standard]
streamlit
requests

groq
cohere

qdrant-client
sentence-transformers
fastembed

boto3

numpy
scikit-learn

langsmith

pydantic-settings
python-dotenv
markdown